/* NAV BAR */

/* 760 px */
@media (max-width:47.5em) {

    header img {
        display:flex;
        width: 8rem;
    }

    .navbar-style {
        display:none;
    
    }

    .navbar-responsive-small {
        display:flex;
        padding:0.5rem;
        width: 3rem;
        position:absolute;
        bottom: 2rem;
        left:1.5rem;
    }

}

/* JUMBO */ 

@media (max-width: 47.5em) {

    .jumbo {
        height: 60vh;
        margin-top: 80px;

    }
    
}





/* FOOTER */ 

/* max 540px*/
@media screen and (max-width:33.750em){
    .container-footer-grid {
        display: flex;
        flex-flow: row wrap;
    
    }

    .container-footer-grid div form {
        display: flex;
        flex-flow: row wrap;
    
    }

    .catalogo > section {
        margin: 1rem auto 1rem auto;
    }

}

/* max 410px*/
@media screen and (max-width:25.625em){

    .jumbo { 
        margin-top: 70px;
        height: 90vh;
        overflow: hidden;
        background-image: url(../img/bannermasajes.jpg);
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    
    }

    footer {
      padding-bottom: 3rem;  
    }

    .copyright-p {
        padding-top: 1rem;
    }


}