html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin:0;
    
}

h2 {
    margin-bottom:1rem;
    text-align:center;
    color:rgb(74, 74, 74);
    text-shadow: 0.15rem 0.2rem 0rem whitesmoke;
}

img {
    max-width: 100%;
}

footer h3 {
    color: #f13f77;
    text-transform: uppercase;
}

a {
    text-decoration:none;
    color:rgb(74, 74, 74);
}

/* NAV BAR */

header img {
    display:flex;
    width: 12rem;

}

div .logo {
    display:flex;
    justify-content: center;
    margin-bottom:1rem;
    margin-top: -2rem;

}

.navbar {
    position:fixed;
    top: 0;
    left: 0rem;
    right: 0rem;
    z-index: 200;
    background-color: white;
    padding: 3rem 5rem 0.5rem 5rem;
    text-align:center;
    border-bottom: thin solid rgb(198, 198, 198);
    box-shadow: 0rem 0rem 0.3rem rgb(198, 198, 198);
}


.navbar-style {
    color: #202124;
    padding: 0 1rem;
    text-decoration: none;
    font-weight: 700;

}

.navbar-style:hover {
    color: #f13f77;

}

.navbar-responsive-small {
    display: none;
}

/* JUMBOTRON */ 


.jumbo { 
    margin-top: 150px;
    height: 90vh;
    overflow: hidden;
    background-image: url(../img/bannermasajes.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

}

.jumbo .jumbo-container {
    background-color:rgba(222, 185, 185, 0.2);
    height: inherit;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.jumbo-container h1 {
    color:#f13f77;
    width: 80%;
    text-shadow: 0.15rem 0.2rem 0rem whitesmoke;
    font-size: clamp(1.8rem, 4vw, 4vw);
    
    
}

.jumbo-container p {
    color: #202124;
    width: 80%;
    text-shadow: 0.1rem 0.1rem 0rem whitesmoke;
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    font-weight: bold;
  
}

.jumbo-container form {
    width:80vw;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
}

.main-form input[type=email]{
    opacity: 0.8;
    color:#3a2d31;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size:clamp(0.8rem, 1rem, 1.2rem);
    padding-left:1rem;
    height: clamp(1rem, 2.5rem, 2.5rem);
    width: clamp(21rem, 30rem, 40rem);
    border-radius: 1.3rem;
    border:none;
    box-shadow: 0rem 0.05rem 0.1rem #3a2d31;

}

.main-form button{
    background-image: linear-gradient(rgba(231, 66, 96, 0.793), rgba(246, 63, 133, 0.793));
    opacity: 0.8;
    color:whitesmoke;
    height: clamp(1rem, 2.5rem, 2.5rem);
    width: 15rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 1rem, 1.2rem);
    border: none;
    border-radius: 1.3rem;
    box-shadow: 0rem 0.05rem 0.1rem #3a2d31;
    margin: 0.5rem;
   

}

.main-form button:hover {
    background: #3a2d31;
    box-shadow:0rem 0rem 0.3rem rgb(141, 141, 141);
}


/* CATALOGO */ 

.catalogo-container {
    margin:2rem;
}


.catalogo {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    text-align:center;
    
}

.catalogo > section {
    background-image: linear-gradient(rgba(255, 245, 249, 0.793), rgba(243, 198, 215, 0.793)), url(../img/bodydrainage.jpg);
    background-size:contain;
    margin: 1rem;
    padding:1rem;
    max-height: 600px;
    min-height: 300px;
    border: thin solid rgba(243, 198, 215, 0.793);
    border-radius: 1rem;
}

.catalogo-flex {
    display:flex;
    flex-flow:column nowrap;
    /* box-shadow: 0.2rem 0.1rem 0.2rem rgba(0,0,0,0.4);
    transition: box-shadow 0.3s ease; */
}

.catalogo-flex img {
    max-height:50vh;
}

.catalogo-flex button {
    display:flex;
    align-self:center;
    justify-self: center;
    background-image: linear-gradient(rgba(231, 66, 96, 0.793), rgba(246, 63, 133, 0.793));
    opacity: 0.8;
    color:whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    /*height: */
    width: 7rem;
    padding: 0.3rem 0 0.3rem 1.3rem;
    margin-top:0.5rem;
    border: none;
    border-radius: 1.3rem;
    box-shadow: 0rem 0.05rem 0.1rem #3a2d31;

}

.catalogo-flex button:hover {
    background: #3a2d31;
    box-shadow:0rem 0rem 0.3rem rgb(141, 141, 141);
}

.catalogo-flex:hover {
    box-shadow: 0rem 0.2rem 0.2rem rgba(0,0,0,0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.valores-text {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
}

.valores-link {
    text-decoration: underline;
   
}

.valores-link:hover {
    font-style:italic;
    text-decoration: none;
   
}

.color-price {
    color: #202124;
}

.catalogo-flex h3 {
    color: #202124;
}

/* evaluaciones */ 


.evaluaciones-flex {
    display:flex;
    flex-flow:row wrap;
    margin: 0.5rem;
   
}

.evaluacion {
    display:flex;
    flex: 1 1 5rem;
    margin: 0.5rem;

}

.stars-image {
    display:flex;
    margin:1rem 1rem 1rem 0;
    height: 1.5rem;
    background-image: url(../img/5stars.png);
    background-size: contain;
    background-repeat: no-repeat;
}




/* blog entry */ 

.blog-entry {
    height:60vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-image:url(../img/beneficios.png);
    
    
}

.blog-entry div {
    height: inherit;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:center;
    text-align:center;
    background-color: rgba(232, 56, 100, 0.3);
}

.blog-text h3 {
    color:whitesmoke;
    margin: 0;
    font-size: 10vw;
}

.blog-text p {
    color: #202124;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0.5rem 1.5rem 0.5rem;
}

.blog-text button {
    background-image: linear-gradient(rgba(231, 66, 96, 0.793), rgba(246, 63, 133, 0.793));
    opacity: 0.8;
    color:whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    height: 2rem;
    width: 14rem;
    border: none;
    border-radius: 1.3rem;
    box-shadow: 0rem 0.05rem 0.1rem #3a2d31;

}

.blog-text button:hover {
    background: #3a2d31;
    box-shadow:0rem 0rem 0.3rem rgb(141, 141, 141);
}


/* footer */

.logo-footer {
    display:none;
    width: 2rem;
    margin:0;
}

.container-footer-grid {
    display:grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    margin: 0 1.5rem 0 1.5rem;

}

.nosotros-footer {
    margin-right: 1rem;
}

.menu-footer,
.legal-footer {
    margin:0 1rem 0 1rem;
    display:flex;
    flex-direction: column;
    font-weight:bold;
}

footer form {
    margin:0 1rem 0 1rem;
}

a:hover {
    color:#f13f77;
}

.form-footer>[type="submit"] {
    background:#3a2d31;
    opacity: 0.7;
    color: white;
    height:1.5rem;
    border: none;
    border-radius: 0.3rem;
    margin-top:0.2rem;
}

.form-footer>[type="submit"]:hover {
    background:#f13f77;
    
}

.copyright-p {
    text-align: center;
}
